# Python cache files
*.pyc
__pycache__/
*/__pycache__/
**/__pycache__/

# Environment variables
.env
.env.local
.env.*.local

# Data files
data/user_还是叫吴富贵吧/2025-12-20/metadata.json
data/5b6150c56b58b741e26b8c7f/2025-12-20/metadata.json

# Log files
logs/*.log


logs/seer.log

*.log

cache/dividend/stock_name_code_mapping.json

*.json

*.gz

src/seer_agents/seer_agent_primary_thinking/src_data/

cache/.DS_Store

.DS_Store
